@import 'reset';

html{
    width: 100%;
    height: 100%;
}
body{
    min-width: 1000px;
    height: 100%;
    background:#2a425e;
    font-size: 14px;
    font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
    position: relative;
}
a{
    text-decoration: none;
}
#content{
    padding-bottom: 170px;
}
#footer{
    position: absolute;
    width: 100%;
    height: 170px;
    bottom: 0px;
}
@import '../widget/header';
@import '../widget/footer';
