@import 'reset';

html{
    width: 100%;
    height: 100%;
}
body{
    min-width: 1000px;
    min-height: 100%;
    background:#2a425e;
    font-size: 14px;
    font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
    position: relative;
}
a{
    text-decoration: none;
}
#content{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 260px;
}
#footer{
    position: absolute;
    width: 100%;
    height: 170px;
    bottom: 0px;
}
#gotop{
    position: fixed;
    bottom: 315px;
    width: 100%;
    display: none;
    .gotop-inner{
        width: 1000px;
        margin: 0 auto;
        position: relative;
        i{
            position: absolute;
            cursor: pointer;
            right: -90px;
        }
    }
}
.m-overlay{
    background: #000000;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

@import '../widget/header';
@import '../widget/footer';
@import '../widget/login';
@import '../widget/productinfo';
