@import 'reset';

/*css sprite*/
.common-icons-sprite {
  display: inline-block;
}
$common-icons-spacing: 2px;
$common-icons-layout: smart;
@import "compass/utilities/sprites";
@import "common-icons/*.png";
@include all-common-icons-sprites(true);

html{
    width: 100%;
    height: 100%;
}
body{
    min-width: 1000px;
    min-height: 100%;
    background:#2a425e;
    font-size: 14px;
    font-family: arial, 'Hiragino Sans GB', Microsoft Yahei, \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
    position: relative;
}
a{
    text-decoration: none;
}
#content{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 260px;
}
#footer{
    position: absolute;
    width: 100%;
    height: 170px;
    bottom: 0px;
}
#gotop{
    position: fixed;
    bottom: 315px;
    width: 100%;
    display: none;
    .gotop-inner{
        width: 1000px;
        margin: 0 auto;
        position: relative;
        i{
            position: absolute;
            cursor: pointer;
            right: -90px;
        }
    }
}

@import '../widget/header';
@import '../widget/footer';
@import '../widget/login';
@import '../widget/productinfo';
@import '../widget/more';
@import '../widget/page';
@import '../widget/designer-item';
