@import "compass/css3";
@import '../../widget/designer-header';
@import '../../widget/designer-nav';


div,p,a{
	color: #fff;
}

.product{
	width: 100%;
	.items{
		padding-top: 40px;
		width: 1020px;
		.item{
			float: left;
		}
	}
}