@import "compass/css3";

.following-followers-like{
      margin-top: 50px;
      li{
            float: left;
            line-height: 48px;
            a{
                  display: inline-block;
                  width:270px;
                  text-align: center;
                  border-right: 1px solid #161f32;
                  color: rgba(255,255,255,0.4);
                  background-color: #1e2b43;
                  font-size: 18px;
            }
            .active{
                  background-color: #161f32;
                  color: rgba(255,255,255,1);
            }
      }
}
.user-list{
    ul{
        li{
            border-bottom: 1px solid #20334a;
            &:last-child{
                border-bottom:none;
            }
        }
        
    }
}

