/*css sprite 设置*/
.index-icons-sprite {
  display: inline-block;
}
$index-icons-spacing: 2px;
$index-icons-layout: smart;
@import "compass/utilities/sprites";
@import "index-icons/*.png";
@include all-index-icons-sprites(true);

.banner{
	width: 100%;
	height: 400px;
	position: relative;
	img{
		display: block;
	}
	.index-icons-arrow-left{
		position: absolute;
		top: 100px;
		left: -92px;
	}
	.index-icons-arrow-right{
		position: absolute;
		top: 100px;
		right: -95px;
	}
}
.product{
	.product-list-style1{
		position: relative;
		margin-top: 25px;
		height: 554px;
		a{
			display: block;
			position: absolute;
		}
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
		.product-item-1{
			width: 265px;
			height: 554px;
			left: 0;
			top:0;
		}
		.product-item-2{
			width: 423px;
			height: 265px;
			left: 290px;
			top:0;
		}
		.product-item-3{
			width: 265px;
			height: 265px;
			left: 290px;
			bottom:0;
		}
		.product-item-4{
			width: 265px;
			height: 265px;
			right: 0;
			top:0;
		}
		.product-item-5{
			width: 423px;
			height: 265px;
			right: 0;
			bottom:0;
		}
	}
	.product-list-style2{
		position: relative;
		margin-top: 25px;
		height: 554px;
		.product-item-1{
			width: 712px;
			height: 554px;
			left: 0;
			top:0;
		}
		.product-item-2{
			width: 264px;
			height: 554px;
			right: 0;
			top:0;
		}
	}
}
.designer{
	.title{
		margin: 30px auto 45px;
		text-align: center;
		font-size: 30px;
		color: #fff;
		.index-icons-light{
			position: relative;
			top: 12px;
		}
		a{
			color: #49c0f5;
			font-size: 12px;
			margin-left: 10px;
			i{
				margin-left: 5px;
			}
		}
	}
	ul{
		margin-bottom: 80px;
		li{
			float: left;
			height: 180px;
			a{
				display: block;
				width: 500px;
				height: 180px;
				div{
					float: left;
					width: 250px;
					height: 180px;
				}
				img{
					float: left;
					display: block;
					width: 250px;
					height: 180px;
				}

				@for $i from 1 through 6 {
				  	&.designer-item-#{$i} { 
				  		div{
				  			@include index-icons-sprite(designer-item-#{$i});
				  		}
				  	 	
				  	}
				}
			}
		}
	}
}