@import "compass/css3";

/*css sprite*/
.subcategory-icons-sprite {
  display: inline-block;
}
$subcategory-icons-spacing: 2px;
$subcategory-icons-layout: smart;
@import "compass/utilities/sprites";
@import "subcategory-icons/*.png";
@include all-subcategory-icons-sprites(true);

.sub-category-nav{
	margin: 20px 0;
	li{
		float: left;
		font-size: 14px;
		color: #fff;
		margin-right: 10px;
		a{
			color: #fff;
			&:hover{
				color:#49c0f5;
			}
		}
	}
}
.filter{
	background: #38516f;
	padding: 30px 20px;
	font-size: 14px;
	.label{
		float: left;
		color: #a5adb9;
		margin-right: 15px;
	}
	.price{
		margin-bottom: 30px;
		li{
			float: left;
			color: #fff;
			margin-right: 20px;
			cursor: pointer;
			&.cur{
				color: #49c0f5;
			}
		}
	}
	.style{
		margin-left: 57px;
		li{
			float: left;
			cursor: pointer;
			height: 28px;
			line-height: 28px;
			border: 1px solid #fff;
			background: #fff;
			padding: 0 20px;
			color: #333;
			position: relative;
			margin-right: 10px;
			margin-bottom: 10px;
			i{
				position: absolute;
				display: none;
				right: 0;
				bottom: 0;
				width: 14px;
				height: 14px;
				@include subcategory-icons-sprite(filter-corner);
			}
			&.cur{
				border: 1px solid #00bbec;
				i{
					display: block;
				}
			}
		}
	}
}

.sort{
	margin: 20px 0;
	li{
		height:38px;
		line-height: 38px;
		padding: 0 12px;
		background: #2a425e;
		border: 1px solid #00c0f2;
		color: #fff;
		font-size: 14px;
		float: left;
		margin-right: 20px;
		cursor: pointer;
		@include border-radius(5px);
		&.cur{
			background: #00c0f2;
		}
		i{
			margin-left: 5px;
		}
		&.up{
			i{
				@include subcategory-icons-sprite(arrow-up);
				width: 12px;
				height: 14px;
			}
		}
		&.down{
			i{
				@include subcategory-icons-sprite(arrow-down);
				width: 10px;
				height: 13px;
			}
		}
	}
}

.product-list{
	width: 1020px;
	li{
		position: relative;
		float: left;
		width: 238px;
		height: 238px;
		margin: 0 16px 16px 0;
		@include box-shadow(2px 2px 4px rgba(0,0,0,0.5));
		a{
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			.m-productinfo{
				display: none;
			}
			&:hover{
				.m-productinfo{
					display: block;
					top: 0;
					left: 0;
				}
			}
		}
		img{
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}