@import "compass/css3";

@import '../../widget/related-product';

/*css sprite*/
.buy-icons-sprite {
  display: inline-block;
}
$buy-icons-spacing: 2px;
$buy-icons-layout: smart;
@import "compass/utilities/sprites";
@import "buy-icons/*.png";
@include all-buy-icons-sprites(true);

.buy-nav{
	margin: 50px 0;
	padding-bottom: 25px;
	border-bottom: 1px solid #49c0f5;
	span{
		font-size: 30px;
		color: #5680b0;
		cursor: default;
		&.cur{
			color: #fff;
		}
	}
}
.order{
	background: #1e2b43;
	margin: 50px 0;
	padding: 20px 40px;
	h2{
		font-size: 20px;
		font-weight: bold;
		color: #fff;
	}
}
.order-item{
	margin-top: 25px;
	h3{
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
		a{
			color: #00bbec;
			font-size: 14px;
			margin-left: 20px;
		}
	}
	span{
		color: #e5e5e5;
		font-size: 14px;
	}
	.input{
		width: 190px;
		height: 26px;
		padding: 12px 20px;
		color: #333;
		font-size: 14px;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 0;
		outline: none;
	}
	.input-address{
		width: 350px;
	}
	.select{
		width: 120px;
		line-height: 26px;
		padding: 12px 10px;
		color: #333;
		font-size: 14px;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 0;
	}
}
.deliver{
	ul{
		li{
			float: left;
			cursor: pointer;
			height: 40px;
			line-height: 40px;
			font-size: 12px;
			border: 1px solid #fff;
			background: #fff;
			padding: 0 20px;
			color: #333;
			position: relative;
			margin-right: 10px;
			b{
				font-weight: normal;
			}
			i{
				position: absolute;
				display: none;
				right: 0;
				bottom: 0;
				width: 14px;
				height: 14px;
				@include buy-icons-sprite(filter-corner);
			}
			&.cur{
				border: 1px solid #00bbec;
				i{
					display: block;
				}
			}
		}
	}
}
.product{
	ul{
		li{
			border-bottom: 1px solid #19263d;
			height: 150px;
			line-height: 150px;
			&:first-child{
				height:45px;
				line-height: 45px;
			}
			&>div{
				float: left;
				font-size: 14px;
				color: #e5e5e5;
			}
			.name{
				width: 320px;
				display: block;
				float: left;
				font-size: 14px;
				color: #e5e5e5;
				img{
					display: inline-block;
					margin-top: 20px;
					float: left;
					width: 100px;
					height: 110px;
					margin-right: 13px;
				}
				span{
					width: 150px;
					display: inline-block;
					vertical-align: middle;
					color: #e5e5e5;
					line-height: 18px;
				}
			}
			.price,.count{
				width: 150px;
				text-align: center;
			}
			.sum{
				width: 156px;
				text-align: center;
			}
		}
	}
}
.operation{
	height: 140px;
	line-height: 140px;
	background: #1e2b43;
	.opt{
		float: left;
		a{
			color: #00baea;
			margin-right: 30px;
			font-size: 14px;
		}
	}
	#submit{
		float: right;
		margin: 30px 40px 0;
		width: 160px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		color: #fff;
		font-size: 24px;
		background: #16b9e4;
		@include border-radius(5px);
	}
	.check{
		float: right;
		span{
			color: #00baea;
			margin-left: 25px;
			font-size: 14px;
		}
		.total-price{
			font-size: 24px;
			vertical-align: middle;
		}
		b{
			font-weight: normal;
		}
	}
}
