@import "compass/css3";

.m-ds-header{
	height: 340px;
	position: relative;
	color: #fff;
	.ds-header-cover{
		position: absolute;
		width: 100%;
		height: 100%;
		background: url("/static/youin/images/ds-header-cover.png");
		z-index: 0;
	}
	.ds-header-inner,.ds-header-change-inner{
		margin: 0 auto;
		position: relative;
		width: 1000px;
		height: 100%;
		z-index: 1;
	}
	.ds-header-change-inner{
		display: none;
	}
	.ds-inform{
		position: absolute;
		left: 50%;
		width: 360px;
		margin-left: -180px;
		text-align: center;
		top: 68px;
		.ds-photo{
			width: 136px;
			height: 136px;
			border: 2px solid #fff;
           	@include border-radius(50%);
            margin: 0 auto;
            position: relative;
            .photo{
            	width: 136px;
            	height: 136px;
            	@include border-radius(50%);
            	display: block;
            }
            i{
            	display: block;
            	position: absolute;
            	top: 30px;
            	left: 30px;
            }
		}
		.ds-username{
			font-size: 30px;
			margin-top: 25px;
		}
		.ds-username-input{
			width: 160px;
			height: 40px;
			font-size: 30px;
			line-height: 30px;
			border: 1px solid rgba(255,255,255,0.5);
			margin-top: 12px;
			background: transparent;
			outline: none;
			text-align: center;
		}
		.ds-intro{
			margin-top: 15px;
			font-size: 14px;
		}
		.ds-intro-input{
			width: 280px;
			height: 40px;
			padding: 5px 10px;
			font-size: 14px;
			border: 1px solid rgba(255,255,255,0.5);
			outline: none;
			resize:none;
			margin-top: 19px;
			background: transparent;
		}
		#avatar-file{
        	display: none;
        }
	}
	.ds-cash{
		position: absolute;
		left: 50px;
		bottom: 120px;
		color: #fff;
		div{
			font-size: 32px;
		}
	}
	.ds-cash-out{
		position: absolute;
		left: 50px;
		bottom: 55px;
		padding: 0 15px;
		height: 40px;
		background:#11bcea;
		text-align: center;
		line-height: 40px;
		box-shadow: 3px 3px 1px rgba(0,0,0,0.3);
		border-radius: 5px;
		margin-right: 15px;
		cursor: pointer;
		color: #fff;
		&.cash-none{
			background: #989898;
			cursor: not-allowed;
			&:hover{
				background: #989898;
			}
		}
		&:hover{
			background: #078db3;
		}
	}
	.ds-counter{
		position: absolute;
		right: 0;
		bottom: 120px;
		width: 280px;
		height: 72px;
		table{
			width: 100%;
			text-align: center;
			span{
				font-size: 32px;
			}
		}
	}
	.ds-operation{
		position: absolute;
		right: 0;
		bottom: 55px;
		.button{
			float: right;
			padding: 0 15px;
			height: 40px;
			background:#11bcea;
			text-align: center;
			line-height: 40px;
			box-shadow: 3px 3px 1px rgba(0,0,0,0.3);
			border-radius: 5px;
			margin-right: 15px;
			cursor: pointer;
			display: block;
			color: #fff;
			&:hover{
				background: #078db3;
			}
		}
		.followed{
			background: #989898;
			&:hover{
				background: #989898;
			}
		}
		.follow{
			background: #11bcea;
			&:hover{
				background: #078db3;
			}
		}
		.avatar-cancel{
			background: #989898;
			&:hover{
				background: #989898;
			}
		}
	}
}
#cash-overlay{
	background: #000000;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
}
#cash-popup{
	display: none;
	background: #fff;
	width: 350px;
	height: 280px;
	position: relative;
	padding: 15px 30px;
	.close{
		position: absolute;
		top: 16px;
		right: 16px;
		cursor: pointer;
	}
	h2{
		font-size: 18px;
		color: #333;
		margin-bottom: 20px;
	}
	.input-box{
		width: 350px;
		height: 46px;
		border: 1px solid #49c0f5;
		position: relative;
		margin-bottom: 10px;
		input{
			width: 320px;
			line-height: 26px;
			padding: 10px 15px;
			color: #333;
			font-size: 16px;
			display: block;
			border: 0;
			outline: 0;
		}
	}
	.confirm-box{
		width: 350px;
		height: 48px;
		position: relative;
		margin-bottom: 10px;
		line-height: 48px;
		font-size: 16px;
		span{
			margin: 0 15px;
			color: #5c5c5c;
		}
		b{
			font-weight: normal;
			color: #333;
		}
	}
	.submit{
		width: 120px;
		height: 50px;
		line-height: 50px;
		background: #49c0f5;
		color: #fff;
		font-size: 18px;
		text-align: center;
		@include border-radius(5px);
		display: block;
		float: right;
		border: 0;
		outline: 0;
		cursor: pointer;
		&:hover{
			background:#078db3;
		}
		&.submit-cancel{
			background: #989898;
			margin-left: 20px;
			&:hover{
				background:#989898;
			}
		}
	}
}
#cash-popup-confirm{
	display: none;
}