@import "compass/css3";

/*css sprite 设置*/
.common-icons-sprite {
  display: inline-block;
}
$common-icons-spacing: 2px;
$common-icons-layout: smart;
@import "compass/utilities/sprites";
@import "common-icons/*.png";
@include all-common-icons-sprites(true);

.m-header{
    .ucenter{
        height: 50px;
        width: 100%;
        background:#0d1826;
        ul{
            text-align: right;
            width: 1000px;
            margin: 0 auto;
            height: 50px;
            line-height: 50px;
            li{
                display: inline-block;
                margin-left: 24px;
                a{
                    display: block;
                    color: #fff;
                    font-size: 12px;
                    span{
                        color: #49c0f5;
                        margin: 0 5px;
                    }
                    i{
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                } 
            }
        }
    }
    .nav{
        background:#1a2c42;
        width: 100%;
        height: 120px;
    }
    .nav-inner{
        width: 1000px;
        margin: 0 auto;
        position: relative;
        .logo{
            position: absolute;
            left: 30px;
            top: 12px;
        }
        ul{
            float: right;
            li{
                float: left;
                width: 100px;
                height: 120px;
                position: relative;
                &.divide{
                    width: 1px;
                }
                &>a{
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    i{
                        position: absolute;
                        left: 30px;
                        top: 20px;
                        &.common-icons-nav-dress{
                            left: 20px;
                            top: 22px;
                        }
                        &.common-icons-nav-life{
                            top: 30px;
                            left: 27px;
                        }
                        &.common-icons-nav-shell{
                            left: 31px;
                        }
                        &.common-icons-nav-hot{
                            left: 21px;
                        }
                        &.common-icons-nav-special{
                            left: 20px;
                        }
                    }
                    span{
                        position: absolute;
                        bottom:7px;
                        left: 45px; 
                    }
                    p{
                        text-align: center;
                        bottom: 15px;
                        color: #fff;
                        font-size: 14px;
                        position: absolute;
                        width: 100%;
                    }
                    .sub-nav{
                        display: none;
                        position: absolute;
                        top: 120px;
                        left: 0;
                        z-index: 10;
                        div{
                            display: block;
                            width: 100px;
                            height: 50px;
                            line-height: 50px;
                            background: #1f2b43;
                            color: #fff;
                            font-size: 14px;
                            text-align: center;
                            &:hover{
                                background: #26516f;
                            }
                        }
                    }
                    &:hover{
                        background: #2a5170;
                        p{
                            color: #49c0f5;
                        }
                        .sub-nav{
                            display: block;
                        }
                    }
                }
                &.cur{
                    &::before{
                        content:"";
                        position: absolute;
                        width: 1px;
                        height: 120px;
                        @include common-icons-sprite(nav-cur-divide);
                        top: 0;
                        left: -1px;
                    }
                    &::after{
                        content:"";
                        position: absolute;
                        width: 1px;
                        height: 120px;
                        @include common-icons-sprite(nav-cur-divide);
                        top: 0;
                        right: -1px;
                    }
                    &>a{
                        @include background-image(linear-gradient(#1a2c42, #142234));
                        p{
                            color: #49c0f5;
                        }
                    }
                }
            }
        }
    }
}