@import "compass/css3";

.m-header{
    .ucenter{
        height: 50px;
        width: 100%;
        background:#0d1826;
        ul{
            text-align: right;
            width: 1000px;
            margin: 0 auto;
            height: 50px;
            line-height: 50px;
            li{
                display: inline-block;
                margin-left: 24px;
                position: relative;
                &>a{
                    display: block;
                    color: #fff;
                    font-size: 12px;
                    span{
                        color: #49c0f5;
                        margin: 0 5px;
                    }
                    i{
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                    &.avatar{
                        img{
                            width: 22px;
                            height: 22px;
                            @include border-radius(22px);
                            margin-right: 8px;
                            vertical-align: middle;
                            position: relative;
                            top: -2px;
                        }
                    }
                } 
                .common-icons-search{
                    vertical-align: middle;
                    margin-right: 8px;
                }
                form{
                    display: inline-block;
                    input{
                        width: 110px;
                        height: 20px;
                        line-height: 20px;
                        @include border-radius(20px);
                        background: #1a2c42;
                        font-size: 12px;
                        padding: 0 10px;
                        color: #fff;
                        border: 0;
                        outline: none;
                    }
                }
            }
        }
    }
    #ucenter-panel{
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left:-272px; 
        width:574px;
        height: 405px;
        z-index: 100;
        i{
            position: absolute;
            top: -12px;
            left: 50%;
            margin-left: -11px;
            z-index: 2;
        }
        .mask{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.9);
        }
        .user-wrapper{
            position: absolute;
            top: 38px;
            left: 50%;
        }
        .user{
            position: relative;
            top: 0;
            left: -50%;
            text-align: center;
            .avatar{
                width: 130px;
                height: 130px;
                display: block;
                border: 2px solid #fff;
                @include border-radius(130px);
            }
            .name{
                color: #333;
                font-size: 30px;
                margin: 15px 0 12px;
            }
            .detail{
                color: #333;
                font-size: 14px;
            }
        }
        .user-info{
            position: absolute;
            left: 438px;
            bottom: 145px;
            a,p{  
                display: block;
                color: #333;
                font-size: 14px;
                margin-bottom: 8px;
                line-height: 18px;
                span{
                    margin-left: 10px;
                }
            }
        }
        .buy-info{
            left: 48px;
        }
        .opt{
            position: absolute;
            text-align: right;
            right: 45px;
            bottom: 50px;
            span{
                font-size: 14px;
                color: #333;
            }
            a{
                display: inline-block;
                height: 40px;
                line-height: 40px;
                color: #fff;
                text-align: center;
                padding: 0 12px;
                margin-left: 15px;
                @include border-radius(5px);
                background: #00c0f2;
                &:hover{
                    background:#078db3;
                }
                &:last-child{
                    background:#48be53;
                    &:hover{
                        background:#01b11d;
                    }
                }
            }
        }
        #logout{
            color: #333;
            font-size: 14px;
            position: absolute;
            right: 45px;
            bottom: 25px;
            line-height: 18px;
        }
    }
    .nav{
        background:#1a2c42;
        width: 100%;
        height: 120px;
    }
    .nav-inner{
        width: 1000px;
        margin: 0 auto;
        position: relative;
        .logo{
            position: absolute;
            left: 30px;
            top: 20px;
        }
        ul{
            float: right;
            li{
                float: left;
                width: 100px;
                height: 120px;
                position: relative;
                &.divide{
                    width: 1px;
                }
                &>a{
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    i{
                        position: absolute;
                        left: 30px;
                        top: 20px;
                        &.common-icons-nav-dress{
                            left: 20px;
                            top: 22px;
                        }
                        &.common-icons-nav-life{
                            top: 30px;
                            left: 27px;
                        }
                        &.common-icons-nav-shell{
                            left: 31px;
                        }
                        &.common-icons-nav-hot{
                            left: 21px;
                        }
                        &.common-icons-nav-special{
                            left: 20px;
                        }
                    }
                    span{
                        position: absolute;
                        bottom:7px;
                        left: 45px; 
                    }
                    p{
                        text-align: center;
                        bottom: 15px;
                        color: #fff;
                        font-size: 14px;
                        position: absolute;
                        width: 100%;
                        height: 21px;
                        line-height: 21px;
                    }
                    .sub-nav{
                        display: none;
                        position: absolute;
                        top: 120px;
                        left: 0;
                        z-index: 10;
                        .sub-nav-href{
                            display: block;
                            width: 100px;
                            height: 50px;
                            line-height: 50px;
                            background: #1f2b43;
                            color: #fff;
                            font-size: 14px;
                            text-align: center;
                            position: relative;
                            &:hover{
                                background: #26516f;
                            }
                            b{
                                position: absolute;
                                right: 10px;
                                top: 21px;
                            }
                        }
                        .sub-sub-nav{
                            display: none;
                            position: absolute;
                            left: 100px;
                            top: 0;
                        }
                    }
                    &:hover{
                        background: #2a5170;
                        p{
                            color: #49c0f5;
                        }
                        .sub-nav{
                            display: block;
                        }
                    }
                }
                &.cur{
                    &::before{
                        content:"";
                        position: absolute;
                        width: 1px;
                        height: 120px;
                        @include common-icons-sprite(nav-cur-divide);
                        top: 0;
                        left: -1px;
                    }
                    &::after{
                        content:"";
                        position: absolute;
                        width: 1px;
                        height: 120px;
                        @include common-icons-sprite(nav-cur-divide);
                        top: 0;
                        right: -1px;
                    }
                    &>a{
                        @include background-image(linear-gradient(#1a2c42, #142234));
                        p{
                            color: #49c0f5;
                        }
                    }
                }
            }
        }
    }
}